video_dl/.venv/
video_dl/bin/
video_dl/**/__pycache__/
video_dl/*.log
video_dl/downloads/

web_clipper/.venv/
web_clipper/**/__pycache__/
web_clipper/*.log
web_clipper/data/

snap_ocr/.venv/
snap_ocr/**/__pycache__/
snap_ocr/*.log
snap_ocr/data/

local_notes/.venv/
local_notes/**/__pycache__/
local_notes/*.log
local_notes/data/

**/__pycache__/
